/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Blenda';
    src: url('assets/fonts/Blenda-Script.ttf')  format('truetype');
}
html, body { 
    height: 100%;
    background: #A1FFCE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
body { margin: 0; font-family: Blenda }
