<div fxLayout fxLayoutAlign="center center" fxLayoutGap="10px" fxLayout="column" class="containerX">
    <div fxFlexFill fxLayoutAlign="center">
        <h1>La maisonnette home by Amélie et Sylvain</h1>
    </div>
    <div fxLayout="row" fxFlexFill>
        <div fxFlex="20"></div>
        <mat-card fxFlex="60" class="container">
            <mat-card-header>
                Image ici
            </mat-card-header>
            <mat-card-content>
                <div>
                    <h2>Description :</h2>
                    <p>Un cocon de douceur dôté d’un jardin. La maisonnette est située à Vesoul, en Franche-Comté, à 43
                        km
                        de la Gare TGV .
                        Idéal pour un instant hors du temps en couple !
                        « T’as voulu voir Vesoul et on a vu Vesoul ».</p>
                    <ul>
                        <li>Parking</li>
                        <li>Entrée sécurisée et Autonome pour une entrée à l’heure de votre choix à partir de 16h
                            (Mettre
                            logo porte et boite à clé) un code vous sera communiqué.</li>
                        <li>1 connexion Wifi (logo wifi)</li>

                    </ul>
                </div>
                <div>
                    <h2>Le logement: </h2>
                    <p>Amélie et Sylvain ont restauré cette maisonnette de A à Z de 50 m2.
                        La décoration a été faite avec goût avec une ambiance scandinave.
                        La maisonnette peut accueillir jusqu’à 4 personnes. Elle est équipée d’un coin salon/ cuisine,
                        d’une
                        chambre et d’une salle de bain. Elle dispose d’un jardin et d’une terrasse.
                        Elle est proche du jardin Anglais, du théâtre, de la place du marché et du centre ville.</p>
                </div>
                <div>
                    <h2>Equipements : </h2>
                    <p> Il est composé d’une pièce principale comprenant une cuisine équipée avec son îlot centrale.
                        (réfrégirateur et congélateur, four, lave vaiselle, machine à laver, cafetière, grille pain,
                        micro
                        onde, bouilloire, thé et café à disposition, plaque à induction, l’ensemble des ustensiles pour
                        faire des bons petits plats mais également du liquide vaisselle, lessive, pastille lave
                        vaiselle,
                        torchon et éponge.

                        Le logement dispose d’une chambre à l’étage et d’une salle de bain avec séche cheveux,
                        serviettes,
                        tapis de douche, savon, shampoing seront à votre disposition.
                    </p>
                </div>
                <div>
                    <h2>Ce que propose le logement :</h2>
                    <ul>
                        <li>
                            <h3>Salle de bain</h3>
                            <ul>
                                <li>Shampoing (logo)</li>
                                <li>Savon pour le corps </li>
                                <li>Eau chaude</li>
                                <li>Gel douche</li>
                                <li>Douche (logo)</li>
                                <li>Sèche cheveux (logo)</li>
                                <li>Produits de netoyage </li>
                            </ul>
                        </li>
                        <li>
                            <h3>Chambre et linge</h3>
                            <ul>
                                <li> Equipements de base servietts, draps savon et papier toilette</li>
                                <li> Cintres</li>
                                <li> Draps</li>
                                <li> Espace de rangement pour les vêtements : placards</li>
                                <li> A l’étage, espace de travail dédié : sur le palier un bureau est installé. </li>
                                <li> Dans la chambre vous avez un lit de 160X200 cm avec draps. </li>
                            </ul>
                        </li>
                        <li>
                            <h3>Famille</h3>
                            <ul>
                                <li> Chaise haute sur demande uniquement</li>
                                <li> Un lit parapluie peut être mis à disposition sur demande uniquement</li>
                                <li> Baignoire pour bébé sur demande uniquement</li>
                                <li> Vaisselle bébé sur demande uniquement</li>
                            </ul>
                        </li>
                        <li>
                            <h3>Cuisine et salle à manger (logo fourchette)</h3>
                            <ul>
                                <li> Une cuisine pour vous sentir comme chez vous.
                                </li>
                                <li> Four à microondes</li>
                                <li> Four Whirlpool</li>
                                <li> Equipement de cuisine de base casseroles, poèles, huile sel et poivre</li>
                                <li> Verre à vin</li>
                                <li> Grille pain</li>
                                <li> Plaque de cuisson induction</li>
                                <li> Vaiselle et couverts</li>
                                <li> Frigo congélateur</li>
                                <li> Un plateau avec Bouilloire électrique et cafetière est à votre disposition ainsi
                                    que toute
                                    la vaisselle nécessaire. </li>
                                <li> Une télévision.</li>
                                <li> Café inclus comme à la maison</li>
                                <li> Lave linge</li>

                            </ul>
                        </li>
                        <li>
                            <h3>Chauffage et climatisation</h3>
                            <ul>
                                <li> Clim réversible (logo étoile)</li>
                                <li> Radieur éléctrique dans la chambre</li>
                                <li> Seche serviette dans la salle de bain</li>

                            </ul>
                        </li>
                        <li>
                            <h3>Sécurité </h3>
                            <ul>
                                <li> Détecteur de fumée</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2>Autres remarques : </h2>
                    <p> Seules les personnes dont le noms aura été communiqué à la réservation seront autorisé à entrer.
                        Les invités sont strictements interdits ainsi que les animaux .
                        Il est également interdit de fumer dans le logement.
                        Merci à vous pour votre compréhension.
                        Les draps et serviettes sont fournies. Posez vos valises et profitez de votre séjour.
                    </p>
                </div>
                <div>
                    <h2>Conseils : </h2>
                    <p>
                        Restaurant la femme du boulanger.

                        Je serai disponible par sms tout au long de votre séjour.


                        Venez profitez de cette belle maisonnette sur la route de Besançon et à quelques pas du centre
                        ville. Vous pourrez garrer votre voiture dans la cour et profitez des nombreux commerces de
                        proximités.



                    </p>
                </div>
                <div>
                    <h2>Règlement intérieur : </h2>
                    <p>Suivez ces règles pour vous comporter en voyageur respectueux et éviter tout problème pendant
                        votre séjour.

                        Qui peut séjourner dans la maisonnette :
                        4 personnes mawimum
                        Pas d’animaux
                        Ce qui est autorisée

                        Arrivée à partir de 16h.
                        Départ avant midi
                        Pas de fêtes ni de soirée.
                        Non fumeur
                        Le logement comprend un escalier. (logo)


                        Belle escapade Vésulienne.

                    </p>
                </div>
            </mat-card-content>
        </mat-card>
        <div fxFlex="20"></div>
    </div>
</div>